tags
TAGS
Setup
*.hi
*.o
tmp
test
Build/SysConfig
Build/Version
Build/InstallDesktopFile
Build/Standalone
Build/BuildVersion
Build/MakeMans
git-annex
git-annex-shell
man
git-union-merge
git-union-merge.1
doc/.ikiwiki
html
*.tix
.hpc
dist
dist-newstyle
cabal.project.local
cabal.project.local~
result
# Sandboxed builds
cabal-dev
.cabal-sandbox
cabal.sandbox.config
.stack-work
# Project-local emacs configuration
.dir-locals.el
# OSX related
.DS_Store
.virthualenv
.tasty-rerun-log
