tags
TAGS
Setup
*.hi
*.o
tmp
test
Build/SysConfig
Build/Version
Build/InstallDesktopFile
Build/Standalone
Build/BuildVersion
Build/MakeMans
git-annex
git-annex-shell
git-remote-annex
man
doc/.ikiwiki
html
*.tix
.hpc
dist
dist-newstyle
cabal.project.local
cabal.project.local~*
result
git-annex-build-deps*
# Sandboxed builds
cabal-dev
.cabal-sandbox
cabal.sandbox.config
.stack-work
stack.yaml.lock
# Project-local emacs configuration
.dir-locals.el
# OSX related
.DS_Store
.virthualenv
.tasty-rerun-log
