#!/usr/bin/make -f

# Avoid using cabal, as it writes to $HOME
export CABAL=./Setup

# Do use the changelog's version number, rather than making one up.
export RELEASE_BUILD=1

%:
	dh $@

# Not intended for use by anyone except the author.
announcedir:
	@echo ${HOME}/src/git-annex/doc/news
